* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  list-style: none;
  font-family: "Poppins", sans-serif;
}
:root {
  --bg-color: #080808;
  --second-bg-color: #080808;
  --text-color: white;
  --main-color: #00ffee;
}
svg {
  color: azure !important;
}
html {
  font-size: 60%;
  overflow-x: hidden;
}
body {
  background: rgb(0, 0, 0);
  color: var(--text-color);
}
nav {
  padding: 0 20px;
}
nav li:first-child {
  margin-right: auto;
  font-size: 2rem;
  font-weight: 800;
}
.logo {
  margin: auto;
  color: var(--text-color);
  font-size: 3rem;
  font-weight: 800;
  cursor: pointer;
  transition: 0.3s ease;
  border: none;
}
.logo:hover {
  transform: scale(1.1);
  border: none;
  columns: var(--text-color);
}

.logo span {
  color: var(--main-color);
  text-shadow: 0 0 25px var(--main-color);
}

nav {
  background-color: var(--bg-color);
}
nav ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 0 30px;
  padding: 20px;
}
nav ul li {
  height: 50px;
}
nav a {
  height: 100%;
  padding: 0 30px;
  display: flex;

  align-items: center;
  color: var(--text-color);
  font-size: 1.8rem;
  font-weight: 600;
  transition: 0.3s ease;
  border-bottom: 3px solid transparent;
}

nav a:hover,
nav a.active {
  color: var(--main-color);
  border-bottom: 3px solid var(--main-color);
  transform: scale(1.02);
}
.side-bar {
  position: fixed;
  top: 0;
  right: 0;
  height: 50vh;
  width: 250px;
  z-index: 999;
  backdrop-filter: blur(10px);
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.side-bar li {
  width: 100%;
}
.side-bar a {
  width: 100%;
}
.list {
  background: var(--main-color);
  display: none;
}
.cross a svg {
  background: var(--main-color);
}
.cross a {
  display: flex;
  border: none;
  justify-content: flex-end;
}
.cross a:hover {
  background-color: none;
  border: none;
  box-shadow: none;
  transform: none;
}
.home {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15rem;
  padding: 100px 400px;
  min-height: 100vh;
  padding: 100px 200px;
}
.home-content {
  display: flex;
  flex-direction: column;
  align-items: baseline;

  justify-content: center;
  margin-top: 3rem;
  width: 50%;
}

.home-content h3 {
  margin-bottom: 2rem;
  margin-top: 1rem;
  font-size: 3.5rem;
}
.home-content h1 span {
  color: var(--main-color);
}
.home-content h1 {
  font-size: 7rem;
  font-weight: 700;
  line-height: 1;
  margin-top: 1.5rem;
  letter-spacing: 0.5rem;
}
.home-img {
  border-radius: 50%;
}
.home-img img {
  position: relative;
  top: 3rem;
  width: 25vw;
  border-radius: 50%;
  box-shadow: 0 0 25px var(--main-color);
  cursor: pointer;
  transition: 0.4s ease-in-out;
}
.home-img img:hover {
  box-shadow: 0 0 25px var(--main-color), 0 0 50px var(--main-color),
    0 0 100px var(--main-color);
}
.home-content p {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.8rem;
  max-width: 1000px;
}
.social-icons a {
  color: var(--main-color);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4.5rem;
  height: 4.5rem;
  background: transparent;
  border: 2px solid var(--main-color);
  font-size: 2.5rem;
  border-radius: 50%;
  margin: 3rem 1.5rem 3rem 0;
  transition: 0.3s ease-in-out;
}
.social-icons a:hover {
  transform: scale(1.3) translateY(-5px);
  border: 2px solid var(--text-color);
  box-shadow: 0 0 25px var(--main-color);
}
.social-icons a i:hover {
  color: white;
}

.btn {
  display: inline-block;
  padding: 1rem 2.8rem;
  background: var(--main-color);
  box-shadow: 0 0 25px var(--main-color);
  border-radius: 4rem;
  font-size: 1.6rem;
  color: black;
  border: 2px solid transparent;
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: 0.3s ease-in-out;
}
.btn:hover {
  box-shadow: 0 0 50px var(--main-color);
  transform: scale(1.1);
}
.btn-gp {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.btn-gp :nth-of-type(2) {
  background-color: black;
  color: var(--main-color);
  border: 2px solid var(--main-color);
  box-shadow: 0 0 25px var(--main-color);
}
.btn-gp :nth-of-type(2):hover {
  box-shadow: 0 0 25px var(--main-color);
  background-color: var(--main-color);
  color: black;
}
.text-animation {
  font-size: 34px;
  font-weight: 600;
  min-width: 280px;
}
.animated-text span {
  color: var(--main-color);
}
.animated-text span::after {
  content: "Junior Developer";
  font-size: 24px;
  font-weight: bold;
  animation: changeText 5s linear infinite;
}

@keyframes changeText {
  0% {
    content: "Junior Developer";
  }

  50% {
    content: "UI Designer";
  }
  75% {
    content: "Web Developer";
  }

  100% {
    content: "Junior Developer";
  }
}
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 200px auto;
}
.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 100%;
  background: var(--main-color);
  top: 0;
  left: 50%;
  margin-left: -3px;
  animation: moveline 6s linear forwards;
}
@keyframes moveline {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
.timeline-container {
  position: relative;
  padding: 10px 50px;
  width: 50%;
  animation: movedown 1s linear forwards;
  opacity: 0;
  /* background: rgb(255, 0, 0); */
}
@keyframes movedown {
  0% {
    opacity: 1;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.timeline-container:nth-child(1) {
  animation-delay: 0s;
}
.timeline-container:nth-child(2) {
  animation-delay: 2s;
}
.timeline-container:nth-child(3) {
  animation-delay: 4s;
}
.timeline-container:nth-child(4) {
  animation-delay: 6s;
}
.text-box {
  padding: 20px 30px;
  border: 1px solid var(--main-color);
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-radius: 20px;
  font-size: 1.5rem;
}
.text-box:hover {
  box-shadow: 0 0 50px var(--main-color);
}
.text-box h1 {
  font-size: 3rem;
}
.text-box h2 {
  font-size: 2rem;
}
.left-container {
  left: 0;
}
.right-container {
  left: 50%;
}
.left-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 75px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid var(--main-color);
  right: 20px;
}
.right-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 75px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid var(--main-color);
  left: 20px;
}
.service-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  padding: 20px 30px;
  margin-bottom: 200px;
}
.card {
  width: 40%;
  padding: 50px 30px;
  background: var(--main-color);
  color: var(--second-bg-color);
  border-radius: 15px;
  cursor: pointer;
  transition: 2s;
}
.card:hover {
  background-color: white;
  transform: scale(1.005);
  box-shadow: 0 0 25px rgb(255, 255, 255);
}
.card h1 {
  font-size: 3.2rem;
  margin-bottom: 10px;
}
.card p {
  font-size: 1.8rem;
}

.friends-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding: 20px 30px;
  margin-bottom: 200px;
}
.f-card {
  width: 500px;
  padding: 50px 10px;
  background: var(--main-color);
  color: var(--second-bg-color);
  border-radius: 15px;
  cursor: pointer;
  transition: 2s;
}
.f-card:hover {
  background-color: white;
  box-shadow: 0 0 25px rgb(255, 255, 255);
  transform: scale(1.05);
}
.f-card * {
  padding: 0 15px;
  text-align: center;
}
.f-card h1 {
  font-size: 3rem;
  margin-bottom: 10px;
  text-align: center;
}
.f-card p {
  font-size: 1.8rem;
}
.f-card img {
  width: 250px;
  align-items: center;
  display: block;
  margin: auto;
  margin-bottom: 30px;
}
.contact h1 {
  text-align: center;
  font-size: 6rem;
  letter-spacing: 0.3rem;
  font-weight: 800;
}
.contact-from {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 100px;
}
.left-input {
  display: flex;
  width: 30%;
  flex-direction: column;
  gap: 20px;
}
.left-input * {
  border: 1px solid var(--main-color);
  background-color: black;
  color: var(--text-color);
  padding: 30px;
  border-radius: 15px;
}
.main-col {
  color: var(--main-color);
}

.right-input textarea {
  border: 1px solid var(--main-color);
  background-color: black;
  color: var(--text-color);
  padding: 50px;
  border-radius: 15px;
}
.input-btn {
  display: block;
  margin: auto;
  margin-top: 50px;
  padding: 1.5rem 2.8rem;
  background: var(--main-color);
  box-shadow: 0 0 25px var(--main-color);
  border-radius: 4rem;
  font-size: 1.6rem;
  color: black;
  border: 2px solid transparent;
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.input-btn:hover {
  box-shadow: 0 0 50px var(--main-color);
  transform: scale(1.1);
}
footer {
  background: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px;
}
.footer-links {
  display: flex;
  align-items: center;
  gap: 30px;
}

.footer-links a {
  color: var(--text-color);
  font-size: 1.8rem;
  font-weight: 600;
  transition: 0.3s ease;
  border-bottom: 3px solid transparent;
}
.footer-links a:hover,
.footer-links a.active {
  color: var(--main-color);
  border-bottom: 3px solid var(--main-color);
}
@media (max-width: 900px) {
  #menu-icon {
    display: block;
  }
  #menu-icon.active {
    transform: translateX(0);
  }
  .nav-container {
    justify-content: space-between;

    padding: 40px 60px;
  }

  .nav-group {
    position: fixed;
    background: rgba(0, 0, 0, 0.315);
    width: 100vw;
    top: 120px;
    right: 0;
    height: 30vh;
    padding: 2rem;
    transform: translateX(100%);
    transition: 0.5s;
    flex-direction: column;
    z-index: 1;
  }
  .nav-group.active {
    position: fixed;
    transform: translate(0);
  }
  .menu-icon {
    padding: 1rem;
    transition: transform 0.3s ease-in-out;
  }
  .menu-icon.active {
    transform: translateX(-110px);
  }
  .home {
    flex-direction: column;
    padding: 100px 50px;
  }
  .home-img img {
    width: 40vw;
  }
  .home {
    gap: 50px;
    width: 100%;
  }
  .home-content {
    width: 100%;
  }
  .timeline {
    margin: 50px auto;
  }
  .timeline::after {
    left: 31px;
  }
  .timeline-container {
    width: 100%;
    padding-left: 80px;
    padding-right: 20px;
  }
  .right-container {
    left: 0;
  }
  .left-container-arrow,
  .right-container-arrow {
    border-right: 15px solid var(--main-color);
    border-left: 0;
    left: 50px;
  }
  .card {
    width: 100%;
  }
  .card h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
  }
  .card p {
    font-size: 1.5rem;
  }
  .friends-container {
    display: flex;
    flex-direction: column;
  }
  .f-card {
    width: 100%;
  }
  .f-card h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
  }
  .f-card p {
    font-size: 1.5rem;
  }
  .f-card img {
    width: 175px;
  }
  .contact-from {
    padding: 100px 0;
    width: 100%;
    flex-wrap: wrap;
    gap: 0;
  }
  .left-input {
    width: 100%;
    padding: 50px;
  }
  .right-input {
    padding: 0 50px;
  }
  .left-input * {
    padding: 30px;
  }
  nav ul {
    gap: 0 20px;
  }
}
/* @media (min-width: 2000px) {
  html {
    font-size: 55%;
  }
} */

@media (max-width: 1050px) {
  .hideonMobile {
    display: none;
  }
  .list {
    display: block;
  }
  .side-bar {
    width: 100%;
  }
  nav ul {
    gap: 0 20px;
  }

  .friends-container {
    display: flex;
    flex-direction: column;
  }
  .f-card {
    width: 100%;
  }
  .f-card * {
    padding: 0 20px;
  }
  .f-card h1 {
    font-size: 3rem;
    margin-bottom: 10px;
  }
  .f-card p {
    font-size: 1.8rem;
  }
  .f-card img {
    width: 175px;
  }
}
